.navbar {
    background-color: transparent;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    background-color: transparent;
    color: rgb(56, 56, 56);
  }
  
  .navbar a:hover::after {
    transform: scaleX(1); 
  }
  
  .navbar a::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  
  .navbar a:hover::after {
    width: 100%;
    background: rgb(55, 182, 129);
  }