

body {
    font-family: 'Ubuntu';
    background-color: white;
    justify-content: center;
    align-items: center;
}

.content-tables {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 480px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.content-tables th,
.content-tables td {
    padding: 12px 15px;
}

.content-tables th {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-tables tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-tables tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#cim {
    text-align: left;
}





